  
<div class="row" style="position: relative;"  >
  
          
  <div id="zg" style="overflow: hidden;"   >
    
    <div class="bg-white" style="max-height:18%;width:60%;opacity: 0.9;top: 5%;position: relative;left: 20%" align="center">
       <div style="padding:3% ;">
      <P style="opacity:1;color: #222;font:a ; border-bottom: dotted 1px #222;padding-bottom: 1em;">Willkommen bei SAL</P> 
      <p style="color:rgb(238, 49, 49);font-size: 2.5vw;text-transform: uppercase;">DIE NR. 1 IN ENGI­NEE­RING </p> 
    <p style="color:rgb(238, 49, 49);font-size: 2.5vw;text-transform: uppercase;margin-top: -3%"> UND IT</p>
  <p style="align-self:center;">Mit mehr als 8.100 Mitarbeitern an über 100 Niederlassungen und Standorten ist SAL die erste Adresse für Engineering- und IT-Projekte.</p>
</div>
</div>
<div style="margin-top:19%;position:relative ;height: 15%;padding:5% 1% ;" class="row" >
  <a  routerLink="/About" routerLinkActive="active" style="position:relative;width: 31%;margin: auto" id="rd1" class="inline">
    <div  class="ss" style="background-color: rgb(158, 43, 40); opacity: 0.9;color: rgb(252, 248, 248);
  font-weight: 100%;" align="center">
   <p style="  opacity:1 ; border-bottom: solid 3px rgb(252, 250, 250);padding-bottom: 1em"> Engineering- und IT-Lösungen nach Maß</p> 
    <p style="font-size: 2vw;text-transform: uppercase;">		SAL für Kunden </p> </div>
</a>

 <a    routerLink="/About" routerLinkActive="active" style=" position:relative;width: 31%;margin: auto" id="rd2" class="inline">
  <div class="ss" style=" background-color: rgb(158, 43, 40);opacity: 0.9;color: rgb(252, 248, 248);
  font-weight: 100%;" align="center">
   <P style="opacity:1; border-bottom: solid 3px rgb(252, 250, 250);padding-bottom:1em;">Ingenieure und IT-Consultants gesucht</P> 
    <p style="font-size: 2vw;text-transform: uppercase;">	
        Karriere mit der Nr. 1 </p> </div>
</a>
 <a    routerLink="/About" routerLinkActive="active" style="position:relative;width: 31%;margin: auto" id="rd3" class="inline">
   <div  class="ss" style="background-color: rgb(158, 43, 40);opacity: 0.9;color: rgb(252, 248, 248);
  font-weight: 100%;" align="center">
   <P style="opacity:1 ; border-bottom: solid 3px rgb(252, 250, 250);padding-bottom: 1em;">Ein starker Partner für Ihr Business</P> 
    <p style="font-size: 2vw;text-transform: uppercase;">		SAL für Free­lancer </p> </div>
  </a>
</div>

  
   <div class="row" style="margin-top: 10%;background-color: rgb(252, 250, 250) ;height: 19%;">
   <div class="" style="border-right: dotted 1px #222;width: 43%;">
     <p style="text-align:center;padding-top:10%"><i  class="fas fa-upload" style="font-size:300%;color:rgb(158, 43, 40);"></i></p> 
    <p style=" text-align:center;padding: 5%;color: rgb(158, 43, 40);" class="inline-block">
      <span> SAL AKTUELL</span> </p>
    <p style=" text-align:center;"> <span  style="border-top: dotted 1px #222; padding: 5%;font-size: 2vw"> FASZI­NA­TION ZUKUNFT</span>
       </p> <span style="padding: 30%;text-align:center;"> <a   routerLink="/About" routerLinkActive="active"> 
         <button  style="background-color: rgb(158, 43, 40);color: rgb(252, 250, 250) ;width: 30%;height: 10%;border-radius: 6px"> 
         <span class="text-uppercase text-light">Jezt lesen</span></button></a> </span>
    </div>
    <div class="" style="width: 57%;">    
        <p style="text-align:center;padding-top:7%">
          <i  class="fas fa-certificate" style="font-size:300%;color:rgb(158, 43, 40); "></i></p> 
       <p style=" text-align:center;padding: 4.5%;color: rgb(158, 43, 40);" class="inline-block">
         <span>Vielfach ausgezeichnet</span> </p>
       <p style=" text-align:center;"> <span  style="border-top: dotted 1px #222; padding-top: 5%;font-size: 2vw">SAL IST TOP-ARBEIT­GE­BER
        </span>
          </p> <span style="padding: 30%;text-align:center;">
              <a    routerLink="/About" routerLinkActive="active"><button  style="background-color: rgb(158, 43, 40);color: rgb(252, 250, 250) ;width: 35%;height: 10%;border-radius: 6px"> 
            <span class="text-uppercase text-light">Jetzt überzeugen</span></button></a> </span>
       </div>
   
  </div> 
  <div class="row" style=" background-color: rgb(252, 250, 250) ;height: 14%;border-top:solid 2px rgb(129, 125, 125); position: relative; ">
    <div  class="col">
    <p style=" text-align:center;padding:5.5%;color: rgb(158, 43, 40);" >
      <span style="border-bottom: dotted 1px #222;padding: 1%;">Neues Geschäftsfeld DIRECT </span> </p>
    <p style=" text-align:center;">
      <span  style=" padding-top: 5%;font-size: 1.8vw">SAL BIETET DIREKT­VER­MITT­LUNG VON KANDI­DATEN
         </span>
          </p> <span style="padding-left: 30%;text-align:center;">
              <a    routerLink="/About" routerLinkActive="active"><button  style="background-color: rgb(158, 43, 40);color: rgb(252, 250, 250) ;width: 35%;height: 10%;border-radius: 6px"> 
            <span class="text-uppercase text-light">Jetzt Auftrag platzieren</span></button></a> </span>
       </div>
      </div>  
  
  <div  id="gl"   class="row" style="height:  500px !important;">
<a     routerLink="/About" routerLinkActive="active" id="hvr" class="col-6" style="background-image: url(assets/imageedit_27_2418164417.jpg);background-color: rgb(8, 8, 8,0.5) ;position: relative;
height: 100%; padding: 0%;"> 
  <div  id="kk" style="background-color: rgba(8, 8, 8,0.5); padding:0%  ;margin-top: 0%;height: 100% ;">
    <div class="row " style=" padding-left: 15%;color:white;">
  <p style="padding-left: 20%">
    <span style="background-color:rgb(158, 43, 40) ; color:white;" class="inline-block">UNTERNEHMEN</span></p>
   
    <p  style="margin-top: 30%;padding-left: 7%"><span style=" text-align:center;border-bottom: dotted 1px white;padding-bottom:6px; " >
        Pilotproject  </span> </p>
      <p >
        <span  style=" padding-top: 5%;font-size: 2vw">Automatisierung aus einem GUSS
           </span>
            </p>
    </div>  
  </div>
 
    <div id="diap" class="row " style="background-color: white; position: absolute;margin-left: 0%; margin-top: 0%; top: 100%;opacity: 1.0;height: 40%; ">
     <div class="container" style="padding-bottom: 10px;">
      <p style="color: rgb(158, 43, 40);padding:0.5%  3%;"> <span class="font-weight-bold" > Automatisierung aus einem GUSS </span></p>
     <p style="color: rgb(70, 67, 67);padding-bottom: 0%;width: 100%;font-size:1vw" >SAL kann Konstruk­tion. Aber Maschinen und Vorrichtungen? In einem Pilotpro­jekt
        kooperiert SAL jetzt mit einem bayerischen Maschinen­bauer, um... <a href=""> 
          <a style="color: rgb(158, 43, 40);">>>Weiterlesen</a> </a></p>
        </div>
    </div>


</a>
<div class="col-6" style="padding: 0;">
  
<div id="bb1"  class="row" style="height:45% ; width: 100%;margin: 0%;background-image: url(assets/20180502-matrix-produktion_small.jpg);
" > 
<a class="asl" routerLink="/About" routerLinkActive="active" 
style="background-color: rgba(150, 144, 144, 0.5);width: 100%;height: 100%; margin: 0%; "  >
<div style="color: white;opacity: 1.0; width: 100% ;height: 100%; padding: 0% 0% ; position:relative;overflow: hidden;">
<p style="height: 10%;;text-align: center;"><span style="background-color: rgb(158, 43, 40) ;text-align: center;">&nbsp;&nbsp; Technik &nbsp;&nbsp; </span></p> 

<p style="height: 10%;text-align: center;"> <span style="font-size: 1.1vw;border-bottom: dotted 1px white;   text-align: center;">&nbsp;&nbsp; Matrix - Production&nbsp;&nbsp; </span> </p> 
<p style="font-size: 2vw;top: 15%;text-align: center;  margin: 0% 10%;">Hyperflexible Fertigung von morgen?</p> 

<div id="" class=" bsl row " style="background-color: white; position: absolute;margin-left: 0%; margin-top: 0%; top: 100%;opacity: 0.7;height: 55%;width: 100% ">
    <div class="container" style="padding-bottom: 10px;">
     <p style="color: rgb(158, 43, 40);padding:0.5%  3%;"> <span class="font-weight-bold" > Der Lift von morgen : hoch, quer, effizient </span></p>
    <p style="color: rgb(70, 67, 67);padding: 0%  3%;;width: 100%;font-size: 1vw" >Als 1853 der Amerikaner Elisha Graves Otis den Personen­aufzug erfand, begann eine
       beispiel­lose Erfolgsge­schichte. Mehr als eine Milliarde Menschen ... <a href=""> 
         <a style="color: rgb(158, 43, 40);">>>Weiterlesen</a> </a></p>
       </div>
   </div>
</div>
</a>
</div>
<div   class="row" style="height: 50%; width: 100%;margin: 0%;background-image: url(assets/imageedit_30_7614655937.jpg);
" > 
<a class="asl" routerLink="/About" routerLinkActive="active" 
style="background-color: rgba(150, 144, 144, 0.5);height: 100%; width: 100%;height: 100%; margin: 0%; "  >
<div style="color: white;opacity: 1.0; width: 100% ;height: 100%; padding: 0% 0% ; position:relative;overflow: hidden;">
<p style="height: 10%;text-align: center;"><span style="background-color: rgb(158, 43, 40) ;text-align: center;">&nbsp;&nbsp; Technik &nbsp;&nbsp; </span></p> 

<p style="height: 10%;text-align: center;"> <span style="font-size: 1.1vw;border-bottom: dotted 1px white;   text-align: center;">&nbsp;&nbsp; Aufzugstechnik im Umbruch&nbsp;&nbsp; </span> </p> 
<p style="font-size: 2vw;top: 15%;text-align: center;  margin: 0% 10%;">Der Lift von morgen : hoch, quer, effizient</p> 

<div id="" class=" bsl row " style="background-color: white; position: absolute;margin-left: 0%; margin-top: 0%; top: 100%;opacity: 0.7;height: 50%;width: 100% ">
    <div class="container" style="padding-bottom: 10px;">
     <p style="color: rgb(158, 43, 40);padding:0.5%  3%;" class="font-weight-bold"> <span > Der Lift von morgen : hoch, quer, effizient </span></p>
    <p style="color: rgb(70, 67, 67);padding: 0%  3%;width: 100%; font-size: 1vw" >Als 1853 der Amerikaner Elisha Graves Otis den Personen­aufzug erfand, begann eine
       beispiel­lose Erfolgsge­schichte. Mehr als eine Milliarde Menschen ... <a href=""> 
         <a style="color: rgb(158, 43, 40);">>>Weiterlesen</a> </a></p>
       </div>
   </div>
</div>
</a>
</div>

</div>
  </div>

</div>
  </div>



